
///////////////////////////////////////////////////////////////////////////////////////
.header {
  background-color: #7E33E0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: prc(19,16);
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: padding 0.3s ease;

    padding: 14px 10px;
    @media (min-width: 769px) {
      padding: 1px 10px;
      &.larger {
        padding: 14px 10px;
      }
    }

  }

  &__contacts {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    @include adaptive-value(gap, 48, 25);
  }

  &__email {
    background: url('../../public/e-commerce/header/email-icon.svg') left center / contain no-repeat;
    padding-left: 25px;
    font-size: 0;
    @media (min-width: 900px) {
      background-size: auto;
      font-size: unset;
    }
  }
  &__phone {
    background: url('../../public/e-commerce/header/phone-icon.svg') left center / contain no-repeat;
    padding-left: 25px;
    font-size: 0;
    @media (min-width: 900px) {
      background-size: auto;
      font-size: unset;
    }
  }

  &__burger {
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
    span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      height: 16%;
      width: 100%;
      transition: all 0.3s ease;
      background-color: $white;
    }

    &::before,
    &::after {
      content: ""
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }

    &._active {
      span {
        transform: scale(0) translate(0, -50%);
      }

      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }

    @media (min-width: 768.98px) {
      display: none;
    }
  }
  &__menu {
    font-size: unset;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 17px;

    .menu_options {
      display: flex;
      font-size: unset;
      align-items: center;

      flex-direction: row;
      padding: 14px 0;
      gap: 17px;
    }
  }

  &__menu-link {
    cursor: pointer;
    position: relative;
    a {
      display: flex;
    }
    @media (any-hover: hover) {
      &:hover {
        & .header__arrow {
          transform: rotate(180deg);
        }

        & .header__sub-menu {
          pointer-events: all;
          font-size: unset;
          form {
            height: 70px;
            border: 2px solid #6811d9;
            padding: 10px;
          }
        }
      }
    }
    @media (any-hover: none) {
      &.active {
        & .header__arrow {
          transform: rotate(180deg);
        }

        & .header__sub-menu {
          pointer-events: all;
          display: block;
          form {
          }
        }
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    text-align: end;
    transition: transform 0.3s ease;
    padding-left: 2px;
  }

  &__arrow {
    position: relative;
    top: 2px;
    width: 28px;
    height: 25px;
    @media (min-width: 786px) {
      width: 20px;
      height: 15px;
    }
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &__sub-menu {
    @media (any-hover: hover) {
      position: absolute;
      top: 0;
      right: 0;
      pointer-events: none;
      padding: 25px 0 0 0;
      font-size: 0;
      &.items-end {
        form {
          align-items: flex-end;
        }
      }

      form {
        transition: all 0.3s ease, font-size 100ms ease;
        cursor: default;
        height: 0;
        background: white;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        input {
          display: none;
        }

        label {
          color: black;
          position: relative;
          width: min-content;

          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1.3px;
            width: 100%;
            content: "";
            background: black;
            transition: transform 0.3s ease;
            transform: scaleX(0);
          }

          &:hover::after {
            transform: scaleX(1);
          }

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    @media (any-hover: none) {
      display: none;
      input {
        display: none;
      }
      position: absolute;
      bottom: -40px;
      gap: 10px;
      left: 0;

      &.items-end {
        right: 0;
        left: unset;
      }
      form {
        display: flex;
        gap: 10px;
        label {
          padding: 2px 3px;
          border-radius: 10px;
          border: 1.5px solid $pink;
          background: white;
          color: $pink;
        }
      }
    }
  }


  &__wishlist {
    font-size: 0;
    .header__icon {
      position: relative;
      width: 20px;
      height: 20px;
    }
    @media (min-width: 400px) {
      background-size: auto;
      font-size: unset;
      .header__icon {
        width: 16px;
        height: 16px;
      }
    }
    &.active {
      .header__icon {
        span {
          animation: wishlist-heartbeat 2s infinite;
        }
      }
    }

    @keyframes wishlist-heartbeat {
      0% {
        transform: scale(0.95);
      }
      5% {
        transform: scale(1.1);
      }
      39% {
        transform: scale(0.85);
      }
      45% {
        transform: scale(1);
      }
      60% {
        transform: scale(0.95);
      }
      100% {
        transform: scale(0.9);
      }
    }
  }

  &__basket {
    position: relative;
    width: 24px;
    height: 24px;
    &-counter {
      position: absolute;
      z-index: 500;
      pointer-events: none;
      top: -8px;
      right: -8px;
      background: white;
      border-radius: 45%;
      padding: 0 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: black;
      span {
        position: relative;
        bottom: -1px;
      }
    }
  }

  &__basket-list {
    position: fixed;
    top: 45px;
    right: 8px;
    background: white;
    border: 2px solid $pink;
    border-radius: 8px;
    left: 8px;
    @media (min-width: 768px) {
      position: absolute;
      top: 25px;
      left: unset;
      right: 0;
    }
    transform: scale(0, 0);
    visibility: hidden;
    transition: all 0.3s ease;
    &.active {
      visibility: visible;
      transform: scale(1, 1);
    }
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    min-width: max-content;
    .item {
      font-size: 16px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 0 12px;
      color: black;

      justify-content: flex-end;
      max-width: calc(100vw - 40px);
      @media (min-width: 425px) {
        flex-wrap: nowrap;
        max-width: unset;
        width: unset;
      }
      &-image {
        flex: 0 0 auto;
        position: relative;
        width: 60px;
        height: 60px;
      }

      &-title {
        flex: 1 1 auto;
      }

      &-price {

      }

      &-count {
        flex: 0 1 auto;
      }

      &-delete {
        @media (min-width: 768px) {
          font-size: 12px;
        }
        position: relative;
        &::after {
          position: absolute;
          bottom: 2px;
          left: 0;
          height: 1px;
          width: 100%;
          content: "";
          background: black;
          transition: transform 0.3s ease;
          transform: scaleX(0);
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__buy-btn {
    padding: 6px 12px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
.nav {
  &__container {
    position: relative;
    display: flex;
    padding: 22px 10px;
    align-items: center;

    margin-top: 52px;
    @media (min-width: 768.98px) {
      margin-top: 77.08px;
    }
  }

  &__logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    line-height: prc(40,34);
    font-weight: 700;
    color: #0D0E43;
  }

  &__menu-body {
    @media (max-width: 768.98px) {
      color: $white;
      justify-content: center;
      position: fixed;
      top: -100%;
      z-index: 2;
      left: 0;
      &._active {
        top: 0;
      }

      width: 100%;
      height: 100%;
      background-color: rgba(104, 24, 217, 0.9);
      padding: 100px 30px 30px 30px;
      transition: top 0.3s ease;
      overflow: auto;
    }
  }

  &__menu {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-align: center;
    font-family: Lato;
    line-height: prc(20,16);
    font-size: 26px;
    gap: 20px;
    @media (min-width: 768.98px) {
      font-size: unset;
      gap: 0;
      padding-left: min(88px, 3vw);
      flex-direction: row;
    }

    .menu_options {
      display: flex;
      font-size: unset;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 14px 0;
      gap: 17px;
    }
  }

  &__link {
    @media (min-width: 768.98px) {
      font-size: 16px;
      margin-right: 35px;
      transition: color 0.3s ease;
      &._active {
        color: $pink;
      }

      &:hover {
        color: $pink;
      }
    }
  }

  &__search {
    display: flex;
    position: relative;
    margin: 0 0 0 auto;
  }

  &__input {
    position: absolute;
    left: 0;
    width: 0;
    transition: left 0.3s ease, width 0.3s ease;
    &._active {
      left: -215px;
      width: 220px;
    }
    top: 0;
    background-color: #ffffff;
    border: 2px solid #E7E6EF;
    height: 40px;
    margin-right: -5px;
    &:focus {
      border-color: $pink;
      outline: none;
    }
  }

  &__search_btn {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    padding: 8px 13px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
.main-slider {
  margin-bottom: 129px;
  background-color: #F2F0FF;
  min-width: 0;
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }


  .swiper-slide-active {
    .main-slider__container {
      overflow: visible;
    }
  }
  &__image {
    margin: 32px 0;
    position: absolute;
    z-index: 0;
    object-fit: contain;
    width: 80%;
    right: 0;
    top: 0;
    @media (min-width: 425px) {
      width: 70%;
    }
    @media (min-width: 700px) {
      top: -10vw;
      max-width: 706px;
    }
    @media (min-width: 1040px) {
      top:0;
      position: relative;
      flex: 0 0 100%;
      width: 100%;
      margin-left: calc(2vw);
    }
    @media (min-width: 1500px) {
      flex: 0 0 100%;
      margin-left: calc(10vw);
    }
  }

  &__lamp {
    position: absolute;
    z-index: 0;
    width: 387px;
    height: 100%;
    display: none;
    @media (min-width: 1240px) {
      display: block;
      top: 0;
      left: calc(5vw * -1 - 200px);
    }
    @media (min-width: 1440px) {
      top: 0;
      left: calc(5vw * -1 - 250px);
    }
  }

  &__content-wrapper {
    flex: 0 0 100%;
    @media (min-width: 1040px) {
      flex: 0 0 50%;
    }
    display: flex;
    background-color: rgba(242, 240, 255, 0.5);
    position: relative;
    z-index: 3;
  }

  &__content {
    padding: 32px 0;
    flex: 0 0 100%;
    @media (min-width: 650px) and (max-width: 1039.98px) {
      flex: 0 0 50%;
    }
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    z-index: 1;
  }

  &__label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: prc(28,16);
    color: #FB2E86;
  }

  &__title {
    font-family: Josefin Sans;
    font-weight: 700;
    @include adaptive-font(53, 30);
    line-height: 132%;
    color: #000000;
  }

  &__text {
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    line-height: 175%;
    color: #8A8FB9;
  }

  &__btn-wrapper {
    margin-top: 15px;
  }
  &__btn {
    padding: 16px 40px;
  }

  .swiper-pagination {
    bottom: 0px;
    @media (min-width: 425px) {
      bottom: 20px;
    }
    @media (min-width: 1040px) {
      bottom: 52px;
    }
    &-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid #FB2E86;
      box-sizing: border-box;
      opacity: 1;
      transform: rotate(-45deg);
      border-radius: 0;
      background: none;

      &-active {
        opacity: 1;
        background-color: #FB2E86;
      }
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////
.featured-products {
  &__container {

  }

  &__title {
    margin-bottom: 48px;
  }

  &__slider {
    min-width: 0;
    .item {
      $hoverTransition: 0.25s;
      max-width: 270px;
      margin: 0 14.5px 14.5px 14.5px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      &:hover {
        .image-wrapper__panel {
          opacity: 1;
        }

        .details {
          background-color: #2F1AC4;
          * {
            color: white;
          }
        }
      }

      .image-wrapper {
        background: #F6F7FB;
        height: 236px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        padding: 48px 50px 12px 50px;
        &__image {
          pointer-events: none;
          flex: 0 0 auto;
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: relative;
        }
        &__panel {
          transition: background-color $hoverTransition ease;
          @media (any-hover: hover) {
            opacity: 0;
          }
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &__icons {
          position: absolute;
          top: 11px;
          left: 11px;
          display: flex;
          align-items: center;
          gap: 16px;

          & > * {
            transform: scale(1);
            transition: transform 0.3s ease;
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
            }
          }

          &-basket {
            flex: 0 0 40px;
            background: url("../../public/e-commerce/features-products/basket.svg") 0 0 / contain no-repeat;
            width: 40px;
            height: 40px;
          }

          &-wishlist {
            background: url("../../public/e-commerce/features-products/wishlist.svg") 0 0 / contain no-repeat;
            width: 26px;
            height: 26px;
          }

        }

        &__details-btn {
          position: absolute;
          bottom: 9px;
          left: 50%;

          display: inline-block;
          background: #08D15F;
          border-radius: 2px;
          transition: background-color 0.3s ease;
          font-family: Josefin Sans;
          font-size: 12px;
          line-height: prc(14,12);
          padding: 9px 13px;
          color: #FFFFFF;
          transform: translate(-50%, 0);
          margin-bottom: 9px;

          &:hover {
            background: #00a046;
          }
        }
      }

      .details {
        transition: background-color $hoverTransition ease;
        padding: 15px 0 17px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        * {
          transition: color $hoverTransition ease;
        }
        &__title {
          font-family: Lato;
          font-weight: bold;
          font-size: 18px;
          line-height: prc(22,18);
          color: $pink;
        }

        &__colors {
          display: flex;
          gap:5px;

          * {
            width: 14px;
            height: 4px;
            border-radius: 10px;
          }
          .left {
            background: #05E6B7;
          }

          .center {
            background: #F701A8;
          }

          .right {
            background: #00009D;
          }
        }

        &__code {
          font-family: Josefin Sans;
          font-size: 14px;
          line-height: prc(16,14);
          color: #151875;
        }

        &__price {
          font-family: Lato;
          font-size: 14px;
          line-height: prc(17,14);
          color: #151875;
        }

      }
    }

    .swiper {
      padding-bottom: 53px;

      &-pagination {
        bottom: 0px;

        &-bullet {
          transition: all 0.3s ease;
          width: 16px;
          height: 4px;
          background: #FEBAD7;
          border-radius: 10px;
          content: "";
          opacity: 1;
          &-active {
            width: 24px;
            height: 4px;
            background: #FB2E86;
            border-radius: 10px;
            content: "";
            opacity: 1;
          }
        }
      }
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////
.leatest-products {

  &__container {
    margin-top: 71px;
  }

  &__title {
    margin-bottom: 19px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.625rem;
    margin-bottom: 58px;
  }

  &__select {
    input {
      display: none;
    }
    input[type="radio"]:checked + label {
      color: #FB2E86;
    }
    label {
      text-align: center;
      transition: color 0.3s ease;
      font-family: Lato;
      font-size: 18px;
      line-height: prc(22,18);
    }
  }

  &__flex {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 590px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 780px) {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
    gap: 110px 37px;
    max-width: 100%;
  }

  .item {
    $hoverTransition: 1s;
    width: auto;
    .image-wrapper {
      height: 270px;
      margin-bottom: 16px;
      background-color: #F7F7F7;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      transition: background-color $hoverTransition ease;
      //padding: 48px 50px 12px 50px;
      &__image {
        flex: 0 0 auto;
        height: 90%;
        width: 90%;
        @media (min-width: 780px) {
          width: 360px;
          height: 220px;
        }
        position: relative;
        overflow: hidden;
      }

      &:hover {
        background-color: #ffffff;
        .image-wrapper__panel {
          opacity: 1;
        }
      }

      &__panel {
        transition: opacity $hoverTransition ease;
        opacity: 1;
        @media (any-hover: hover) {
          opacity: 0;
        }
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
      }

      &__sale {
        display: block;
        position: absolute;
        top: 21px;
        z-index: 3;
        left: 18px;

        font-family: Josefin Sans;
        font-size: 14px;
        line-height: prc(16,14);
        color: #EEEFFB;
        padding: 20px 35px;
        transform: rotate(-18.12deg);
        background-image: url("../../public/e-commerce/leatest-products/sale-bg.png");
        background-position: center;
        background-repeat: no-repeat;
      }

      &__icons {
        position: absolute;
        bottom: 38px;
        left: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        & > * {
          transform: scale(1);
          transition: transform 0.3s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }

        &-basket {
          flex: 0 0 40px;
          background: url("../../public/e-commerce/features-products/basket.svg") 0 0 / contain no-repeat;
          width: 40px;
          height: 40px;
        }

        &-wishlist {
          background: url("../../public/e-commerce/leatest-products/wishlist.svg") 0 0 / contain no-repeat;
          width: 26px;
          height: 26px;
        }
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      font-family: Josefin Sans;

      &__title {
        font-size: 16px;
        line-height: prc(19,16);
        color: #151875;
        position: relative;
        &::after {
          position: absolute;
          bottom: -3px;
          left: 0;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #EEEFFB;
        }
      }

      &__price {
        display: inline-flex;
        gap: 9px;
        align-items: center;
      }
      &__current {
        font-size: 14px;
        line-height: prc(16,14);
        color: #151875;
      }
      &__old {
        font-size: 12px;
        line-height: prc(14,12);
        text-decoration-line: line-through;
        color: #FB2448;
      }
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////
.subscribe {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  position: relative;
  padding: 120px 10px 50px 10px;

  &__body {
    display: inline-flex;
    flex-direction: column;
    gap: 28px;
    z-index: 1;
    max-width: 600px;
  }

  &__btn-wrapper {
    text-align: center;
  }

  &__btn {
    padding: 16px 34px;
  }

  img {
    filter: blur(1px);
    pointer-events: none;
  }
}
///////////////////////////////////////////////////////////////////////////////////////
footer {

  .upper-footer {
    margin-top: 120px;
    background: #EEEFFB;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1190px + 65px;
      @media (min-width: 1420px) {
        position: relative;
        left: -65px;
      }
    }

    &__flex {
      padding: 90px 0;
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
      @media (min-width: 500px) {
        & > * {
          padding: 0 35.5px;
        }
      }
    }
    &__big-item {
      flex: 0 0 35%;
    }

    &__logo {
      font-family: Josefin Sans;
      font-size: 38px;
      line-height: prc(45,38);
      margin-bottom: 30px;
    }

    &__signup {
      position: relative;
      margin-bottom: 25px;
      max-width: 377px;
      min-width: 300px;
    }

    &__input {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      padding-left: 20px;
      height: 44px;
      background: rgba(255, 255, 255, 0.45);
      border-radius: 3px;
      width: 100%;
      &::placeholder {
        opacity: 0.45;
      }

      &:focus {
        outline: 2px solid $pink;
      }

      color: #8A8FB9;
    }

    &__btn {
      position: absolute;
      height: 44px;
      padding: 0 20px;
      @media (min-width: 1150px) {
        padding: 0 40px;
      }
      right: 0;
      top: 0;
    }

    &__contact-info {
      font-family: Lato;
      font-size: 16px;
      line-height: prc(19,16);
      color: #8A8FB9;

      p {
        margin-top: 10px;
      }
    }

    &__item {
      flex: 1 0 20%;
      min-width: 260px;
      &-title {
        font-family: Josefin Sans;
        font-size: 22px;
        line-height: prc(26,22);
        margin-bottom: 42px;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 21px;
        }
      }

      a {
        color: #8A8FB9;
        font-family: Lato;
        font-size: 16px;
        line-height: prc(19, 16);
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          transition: all 0.3s ease;
          background-color: rgba(138, 143, 185, 0.5);
          height: 2px;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .lower-footer {
    background: #E7E4F8;
    &__container {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
    }

    &__title {
      font-family: Lato;
      font-weight: 600;
      font-size: 16px;
      line-height: prc(19,16);
      color: #9DA0AE;
    }

    &__social {
      display: flex;
      gap: 10px;
      padding-right: 20px;
      @media (min-width: 768px) {
        padding-right: 200px;
      }

      & > * {
        cursor: pointer;
        transition: transform 0.3s ease;
        transform: scale(1, 1);
      }

      & > *:hover {
        transform: scale(1.1, 1.1);
      }
    }

    &__face {
      background: url('../../public/e-commerce/facebook.svg') 0 0 /100% no-repeat;
      width: 22px;
      height: 22px;
    }
    &__insta {
      background: url('../../public/e-commerce/instagram.svg') 0 0 /100% no-repeat;
      width: 22px;
      height: 22px;
    }
    &__twitter {
      background: url('../../public/e-commerce/twitter.svg') 0 0 /100% no-repeat;
      width: 22px;
      height: 22px;
    }
  }
}