@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.pet-slider {
  @import "../mixins";

  $maxWidthContainer: 1700;


  // .pet-slider__wrapper
  &__wrapper {
    background: rgba(0,0,0, 0.7);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  // .pet-slider__continer
  &__container {
    margin: 0 auto;
    @media (min-width: 768px) {
      top: 50%;
      transform: translateY(-50%);
    }
    @media (min-width: 1500px) {
      max-width: 90vw;
    }
    position: relative;
  }

  // .bg-slider
  .bg-slider {
    @media (min-width: 1500px) {
      max-width: 90vw;
    }
    height: 100vh;
    .swiper-slide {
      object-fit: cover;
    }
    @media (min-width: 768px) {
      max-width: 100vw;
      width: 100%;
      height: 100%;
      .swiper-slide {
        padding-top: prc(944, $maxWidthContainer);
      }
    }
  }

  // .text-slider
  .text-slider {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    &__slide {
      background: rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      cursor: pointer;
      transition: flex 0.8s ease;
      flex: 0 0 25%;
      &.active {
        flex: 0 0 50%;
        cursor: default;
        background: rgba(0, 0, 0, 0.4);

        .text-slider__label {
          opacity: 0;
          animation: Appearing 1s ease 0.8s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          font-weight: bold;
          font-size: 14px;
          line-height: prc(24, 14);
          letter-spacing: 0.5em;
          color: #70FFE5;

          &:not(:last-child) {
            margin-bottom: 1em;
          }
        }

        .text-slider__title {
          animation: Appearing 1s ease 0.5s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;

          &:not(:last-child) {
            margin-bottom: 0.375em;
          }
        }

        .text-slider__text {
          animation: Appearing 1s ease 0.8s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
      }
    }
    @media (min-width: 768px) {
      background: none;
      flex-direction: row;
      min-height: auto;
      height: 100%;
      overflow: hidden;
      // .text-slider__slide
      &__slide {
        flex: 0 0 prc(425, $maxWidthContainer);
        &.active {
          background: rgba(0, 0, 0, 0.4);
          flex: 0 0 prc(850, $maxWidthContainer);
        }
      }
    }

    // .text-slider__content
    &__content {
      max-width: 95%;
      margin: 0 auto;
      @media(min-width: 1400px) {
        max-width: prc(510, 850);
      }
    }

    // .text-slider__label
    &__label {
      font-weight: 700;
      @include adaptive-font(16, 12);
      line-height: prc(24, 16);
      letter-spacing: 0.5em;
      color: #FFFFFF;
      transition: all 0.5s ease;
      text-transform: uppercase;
    }

    // .text-slider__title
    &__title {
      position: relative;
      font-weight: 500;
      @include adaptive-font(64, 24);
      line-height: prc(72, 64);
      color: #FFFFFF;
      height: 0;
      opacity: 0;
    }

    // .text-slider__text
    &__text {
      position: relative;
      @include adaptive-font(16, 12);
      line-height: prc(32, 16);
      color: #FFFFFF;
      height: 0;
      opacity: 0;
    }

    @keyframes Appearing {
      0% {
        opacity: 0;
        left: 500%;
      }
      5% {
        height: auto;
      }
      100% {
        left: 0;
        height: auto;
        opacity: 1;
      }
    }
    @media (min-width: 768px) {
      @keyframes Appearing {
        0% {
          opacity: 0;
          top: 500%;
        }
        5% {
          height: auto;
        }
        100% {
          top: 0;
          height: auto;
          opacity: 1;
        }
      }
    }
  }
}