@use 'sass:math';

@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  #{$property}: $startSize + px;
  @media(max-width: #{$maxWidthContainer + px}) {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
  }
}
